 .footer{
   position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  font-family: 'Orbitron';
} 

.center{
 text-align: 'center';
 justify-content: 'center';
 align-items: 'center';
}

.lowernav {
    background-color: #344258;
    overflow: hidden;
    padding: 20px;
}

.lowernav a {
    float: left;
    display: block;
    /* color: white; */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 25px;
    /* query transition for desktop */
    transition: all 0.5s ease-in-out;
}
/* query for desktop */
.lowernav a:hover {
    background-color: #ddd; 
    color: black;
    box-shadow: inset 0px 0px 8px rgb(0, 167, 167), 0 0  15px rgb(0, 167, 167);
}
/* for iphone query click */

.link {
    color:white;
}